<div class="side-nav">
		<div class="side-logo">
			<div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
				<strong>弗莱多餐饮后台系统</strong>
			</div>
		</div>
		
		<nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
			<h2>
				<a href="/index/" class="InitialPage"><i class="icon-dashboard"></i>系统首页</a>
			</h2>
			<ul>
				<li>
					<dl>
						<dt>
							<i class="icon-columns"></i>会员信息<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="/member/">会员列表</a>
						</dd>
						<dd>
							<a href="/member/create">会员登记</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-inbox"></i>收支管理<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="/income/">收入记录</a>
						</dd>
						<dd>
							<a href="/income/create">登记收入</a>
						</dd>
						<dd>
							<a href="/expenditure/">支出记录</a>
						</dd>
						<dd>
							<a href="/expenditure/create">登记支出</a>
						</dd>
						
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-table"></i>食材管理<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="/fooding/">食材列表</a>
						</dd>
						<dd>
							<a href="/fooding/create">食材登记</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-list-alt"></i>库存管理<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="/stock/">库存列表</a>
						</dd>
						<dd>
							<a href="/stock/create">库存登记</a>
						</dd>
					</dl>
				</li>
				 
				 
				<li>
					<dl>
						<dt>
							<i class="icon-star"></i>系统管理<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="/channgepwd/">系统信息修改</a>
						</dd>
					</dl>
				</li>
			</ul>
		</nav>
		<footer class="side-footer"> 版权所有 </footer>
	</div>