{% load staticfiles %}
{% include "backend/header.htm" %}
<div class="main-wrap">
   
    {% include "backend/left-nav.htm" %} 
	<div class="content-wrap">
	    {% include "backend/top-header.htm" %} 
		<main class="main-cont content mCustomScrollbar">
		<div class="page-wrap">
		
		<section class="page-hd">
			<header>
				<h2 class="title"><i class="icon-home"></i>会员记录</h2>
			</header>
			<hr>
		</section>
		
		
			<table class="table table-bordered  mb-15 mt-15">
			<thead>
				<tr class="cen">
				  
					<th>姓名</th>
					<th>手机号</th>
					<th>会员卡号</th>
					<th>地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			    {%for i in data%}
				<tr class="cen"> 
					<td><b class="text-warning">{{i.name}}</b></td>
					<td> {{i.mobel}} </td>
					<td> {{i.secret}} </td>
					<td> {{i.address}} </td>
					<td> 
					   <a href="/member/edit?id={{i.id}}" title="编辑" class="mr-5">编辑</a> 
					   <a href="/member/delete?id={{i.id}}" title="删除">删除</a> 
					</td>
				</tr> 
				{%endfor%}
			</tbody>
			</table>
 
	    </div>
		</main>
		{% include "backend/footer.htm" %}
 
		