{% load staticfiles %}
{% include "backend/header.htm" %}
<div class="main-wrap">
   
    {% include "backend/left-nav.htm" %} 
	<div class="content-wrap">
	    {% include "backend/top-header.htm" %} 
		<main class="main-cont content mCustomScrollbar">
		<div class="page-wrap">
		
		<section class="page-hd">
			<header>
				<h2 class="title"><i class="icon-home"></i>会员记录</h2>
			</header>
			<hr>
		</section>
		
		
			<table class="table table-bordered  mb-15 mt-15">
			<thead>
				<tr class="cen">
					<th>姓名</th>
					<th>手机号</th>
					<th>会员密钥</th>
					<th>地址</th>
				</tr>
			</thead>
			<tbody>
				<tr class="cen">
					<td><b class="text-warning">张三</b></td>
					<td><b>13800138000</b></td>
					<td><b>123adfasdvdvwer</b></td>
					<td><b>xxx大街xxx号</b></td>
				</tr>
				<tr class="cen">
					<td><b class="text-warning">张三</b></td>
					<td><b>13800138000</b></td>
					<td><b>123adfasdvdvwer</b></td>
					<td><b>xxx大街xxx号</b></td>
				</tr>
				<tr class="cen">
					<td><b class="text-warning">张三</b></td>
					<td><b>13800138000</b></td>
					<td><b>123adfasdvdvwer</b></td>
					<td><b>xxx大街xxx号</b></td>
				</tr>
				<tr class="cen">
					<td><b class="text-warning">张三</b></td>
					<td><b>13800138000</b></td>
					<td><b>123adfasdvdvwer</b></td>
					<td><b>xxx大街xxx号</b></td>
				</tr>
			</tbody>
			</table>
			<div class="lt clear">
				<div class="fl">
					<button  class="btn btn-warning"><i class="icon-cog"></i>修改</button>
					<button class="btn btn-danger"><i class="icon-trash"></i>删除</button>
				</div>
				<div class="pagination fr"></div>
			</div> 
	    </div>
		</main>
		{% include "backend/footer.htm" %}
 
		