{% load staticfiles %}
{% include "backend/header.htm" %}
<div class="main-wrap"> 
    {% include "backend/left-nav.htm" %} 
	<div class="content-wrap">
	    {% include "backend/top-header.htm" %} 
		<main class="main-cont content mCustomScrollbar">
		<div class="page-wrap"> 
		<section class="page-hd">
			<header>
				<h2 class="title"><i class="icon-home"></i>会员记录</h2>
			</header>
			<hr>
		</section> 
			<table class="table table-bordered  mb-15 mt-15">
			<thead>
				<tr class="cen"> 
					<th>姓名</th>
					<th>手机号</th>
					<th>会员卡号</th>
					<th>地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			    {%for i in data%}
				<tr class="cen"> 
					<td><b class="text-warning">{{i.name}}</b></td>
					<td> {{i.mobel}} </td>
					<td> {{i.secret}} </td>
					<td> {{i.address}} </td>
					<td>  
						<button id="{{i.id}}" class="btn btn-info">编辑</button> 	
						<button id="{{i.id}}" onclick="a2(event)" class="btn btn-info">删除</button>
					</td>
				</tr> 
				{%endfor%}
			</tbody>
			</table>
 
	    </div>
		</main> 		
		
		<!--删除功能js-->
		<script type="text/javascript">
			//删除
			function a2(e){
				layer.confirm('确定要删除吗？', {
				  btn: ['确定','取消'] //按钮
				}, function(){
				  var id = e.target.id ;					   
				  
                  $.ajax({
				      url: "/member/delete?id="+id,
					  type: "GET",
					  success:function(res){
					     if(res == '1'){ 
							layer.msg('删除完成',{icon: 1});
							setTimeout("window.location.reload()",500);
							}else{
							layer.msg('删除失败', {icon: 2});
							} 
					  },
				  }); 
				}, function(){
				  layer.msg('取消操作', {
					time: 500
				  });
				});
			};
		</script>  
		{% include "backend/footer.htm" %}